/LogFile
*/.vs
GNSSLOger/GNSSLOger/bin
GNSSLOger/GNSSLOger/obj
GNSSLOger/GNSSLOger/Properties
GNSSLOger/ConsoleApp1/bin
GNSSLOger/ConsoleApp1/obj
GNSSLOger/ConsoleApp1/Properties
WpfApp1/WpfApp1/bin
WpfApp1/WpfApp1/obj
WpfApp1/WpfApp1/Properties
*/obj
*/Properties
*.sln
*.cache
*.dll
*.pdb
*.exe


